@import "../../util/scss/variables.scss";

.search-form {
  display: flex;
  .search-input {
    min-width: 100px;
    max-width: 300px;
    margin-right: 10px;
  }
}

// For Mobile Devices
@include media-breakpoint-down(xs) {
  .search-form {
    .search-input {
      width: 100%;
      max-width: none;
    }
  }
}